#body {
	background:		black;
	color:			white;
	align-items:	center;
	justify-content: center;

}

#title {
	font-size:	25pt;
}
#backgroundlogo {
	background-image: url("../assets/logo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100vh; 
	margin: 0 auto;
	color: #eee;
}
